.Colors {
	display: flex;
	flex-direction: row;
}

.Color-box {
	width: 150px;
	height: 150px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	line-height: 150px;
}

.Colors-link {
	color: grey;
}
